<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CREATOR LAB</title>
    <meta name="description" content="Une toute nouvelle interface pour e-lyco avec plein d'autre fonction !">
    <meta name="keywords" content="accueil, creatorlab, scolaire, design, pratique, outils">
    <meta name="author" content="Sou - Rufus">
    <link rel="icon" href="./public/images/favicon.ico" type="image/icon">

    <!-- CSS -->
    <link rel="stylesheet" href="./public/css/bootstrap.min.css">
    <link rel="stylesheet" href="./public/css/index.css">
    <link rel="stylesheet" href="./public/css/responsive.css">
    <link rel="stylesheet" href="./public/fonts/fontawesome/css/all.min.css">
</head>

<body>
    <!-- Start Home Banner Area -->
    <div class="home-banner-area banner-bg banner-9">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="banner-content mb-30">
                        <h1 class="text-white">Bienvenue sur CreatorLab !</h1>
                        <br>
                        <h1 class="title mb-20">La meilleure alternative (et la seule) à E-lyco et Pronote</h1>
                        <ul class="info-list list-unstyled text-white mb-20">
                            <li>
                                <i class="fas fa-chevron-circle-right"></i>Fonctionnalitées de Pronote
                            </li>
                            <li>
                                <i class="fas fa-chevron-circle-right"></i>Fonctionnalitées de E-lyco
                            </li>
                            <li>
                                <i class="fas fa-chevron-circle-right"></i>Nouvelle interface
                            </li>
                            <li>
                                <i class="fas fa-chevron-circle-right"></i>Nouveaux outils
                            </li>
                        </ul>
                        <div class="cta-btns">
                            <a href="/login" class="btn secondary-btn" style="text-transform: none;">Commencer à utiliser</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="banner-image image-right mb-30">
                        <img src="./public/images/banner-9.png" class="shadow-none" alt="Interface">
                    </div>
                </div>
            </div>
        </div>
        <!-- Bottom Shape -->
        <div class="bg-shape">
            <img src="./public/images/wave-shape-3.png" alt="wave shape">
        </div>
    </div>
    <!-- End Home Banner Area -->

    <!-- Start Features Area -->
    <section id="features" class="main-features-area main-features-3">
        <div class="pt-120 pb-90">
            <div class="container">
                <div class="section-title">
                    <h2 class="title">Nos principales fonctionnalités</h2>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-sm-6">
                        <div class="item-single mb-30">
                            <div class="icon"><i class="fal fa-briefcase"></i></div>
                            <h3>Accès aux cours</h3>
                            <p>Vous avez accès à l'intégralité des cours de votre classe avec un détail des matières et de leur contenu.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="item-single mb-30">
                            <div class="icon"><i class="fal fa-file-certificate"></i></div>
                            <h3>Accès à vos résultats</h3>
                            <p>En quelques clics, vous avez accès à vos résultats d'évaluation et de synthèse de votre classe.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="item-single mb-30">
                            <div class="icon"><i class="fal fa-cloud"></i></div>
                            <h3>Cloud personnel</h3>
                            <p>Stocker vos documents et vos données dans un espace cloud personnel pour une meilleure gestion de vos données.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Divider -->
        <div class="divider">
            <div class="icon"><a href="#services"><i class="fal fa-long-arrow-down"></i></a></i>
            </div>
            <span class="line"></span>
        </div>
    </section>
    <!-- End Features Area -->

    <!-- Start Services Area -->
    <!-- <section id="services" class="services-area pt-120 pb-90">
        <div class="container">
            <div class="row align-items-center gx-xl-5">
                <div class="col-lg-6">
                    <div class="content mb-30">
                        <div class="section-title">
                            <h2 class="title">Intégration de toutes sortes d'outils.</h2>
                            <p>Le service de CREATOR LAB est conçu pour vous permettre d'intégrer tous les outils de la meilleure façon possible. Vous pouvez ainsi utiliser les outils de votre choix. Toutes propositions de fonctionnalités sont la bienvenue
                                !</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 order-lg-first">
                    <div class="row justify-content-center">
                        <div class="col-lg-6 col-sm-6">
                            <div class="item-single bg-purple">
                                <div class="icon"><i class="fal fa-webcam"></i></div>
                                <h3>Video Conference</h3>
                                <p>Lorem ipsum dummy text are use in this section. so you should replace.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="item-single bg-blue mt-30 mb-sm-30">
                                <div class="icon"><i class="fal fa-images"></i></div>
                                <h3>Photo Editing</h3>
                                <p>Lorem ipsum dummy text are use in this section. so you should replace.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="item-single bg-green">
                                <div class="icon"><i class="fal fa-phone"></i></div>
                                <h3>Make a Call</h3>
                                <p>Lorem ipsum dummy text are use in this section. so you should replace.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="item-single bg-red mt-30 mb-30">
                                <div class="icon"><i class="fal fa-user-edit"></i></div>
                                <h3>Easy to Use</h3>
                                <p>Lorem ipsum dummy text are use in this section. so you should replace.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- End Services Area -->

    <!-- Start Promo Area -->
    <section id="promo" class="promo-area">
        <div class="container">
            <div class="promo pb-90">
                <div class="row align-items-center justify-content-center gx-xl-5">
                    <div class="col-lg-7">
                        <div class="image mb-30">
                            <img src="./public/images/promo-1.png" alt="Promo Image">
                        </div>
                    </div>
                    <div class="col-lg-5 order-lg-first">
                        <div class="content mb-30">
                            <h2 class="title mb-30">Un produit totalement gratuit.</h2>
                            <p class="mb-30">En effet, le service de CREATOR LAB est totalement gratuit. Vous pouvez utiliser le service sans aucune contrainte. Je suis tout seul sur ce projet et je suis toujours à la recherche d'autres services de qualité pour vous proposer
                                un service de qualité. Mon objectif est de vous faire gagner du temps et améliorer votre productivité dans votre vie d'étudiant.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="promo pb-90">
                <div class="row align-items-center justify-content-center gx-xl-5">
                    <div class="col-lg-7">
                        <div class="image mb-30">
                            <img src="./public/images/promo-2.png" alt="Promo Image">
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="content mb-30">
                            <h2 class="title mb-30">Quelles sont les fonctionnalités cool que vous obtiendrez de cette application ?</h2>
                            <p class="mb-30">D'abord, vous avez accès à votre profil personnel. Vous pouvez y ajouter, modifier ou supprimer vos informations personnelles. Vous avez aussi accès à vos résultats d'évaluation et de synthèse de votre classe. Vous pouvez aussi
                                stocker vos documents et vos données dans un espace cloud personnel pour une meilleure gestion de vos données. Des services annexes sont également disponibles pour vous aider dans la gestion de votre scolarité.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Promo Area -->

    <footer id="footer" class="footer-area footer-3">
        <div class="footer-bottom">
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="col-xxl-6 col-xl-6 col-md-6">
                        <div class="navbar-brand">
                            <a href="index.html">
                                <img style="height:50px;" src="./public/images/favicon.ico" alt="Logo" />
                            </a>
                        </div>
                    </div>
                    <div class="col-xxl-6 col-xl-6 col-md-6">
                        <ul class="nav-links list-unstyled text-md-end">
                            <li class="nav-item">
                                <a href="404-error.html">Terms of Use</a>
                            </li>
                            <li>
                                <a href="404-error.html">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="404-error.html">Coockie Policy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <div class="go-top active"><i class="fal fa-angle-up"></i></div>

    <script src="./public/js/jquery.min.js"></script>
    <script src="./public/js/index.js"></script>
</body>

</html>