<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CREATOR LAB</title>

    <meta name="description" content="Une toute nouvelle interface pour e-lyco avec plein d'autre fonction !">
    <meta name="keywords" content="accueil, creatorlab, scolaire, design, pratique, outils">
    <meta name="author" content="Sou - Rufus">

</head>

<body>
    <h1>Vous êtes actuellement hors ligne</h1>
</body>

</html>